<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.cofin.oracle.mappers.OrderMapper">
	<select id="findAll" resultType="shop.cofin.oracle.order.domain.OrderDto">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
	</select>
	<select id="findByOrderId" resultType="shop.cofin.oracle.order.domain.OrderDto" parameterType="int">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
        where order_id = ${orderId}
	</select>
	<select id="findByCustId" resultType="shop.cofin.oracle.order.domain.OrderDto" parameterType="int">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
        where cust_id in ${custId}
	</select>
	<select id="findByBookId" resultType="shop.cofin.oracle.order.domain.OrderDto" parameterType="int">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
        where book_id in ${bookId}
	</select>
	<select id="findByOrderPrice" resultType="shop.cofin.oracle.order.domain.OrderDto" parameterType="int">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
        where order_price >= ${orderPrice}
	</select>
	<select id="findByOrderDate" resultType="shop.cofin.oracle.order.domain.OrderDto" parameterType="string">
		select
		    order_id orderId,
		    cust_id custId,
		    book_id bookId,
		    order_price orderPrice,
		    order_date orderDate
		from orders
        where order_date >= '2007'||'${value}'
	</select>
	<insert id="save" parameterType="shop.cofin.oracle.order.domain.OrderDto">
		insert into
		orders (order_id, cust_id, book_id, order_price, order_date)
		values (${orderId}, ${custId}, ${bookId}, ${orderPrice}, #{orderDate})
	</insert>
</mapper>